body {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea,
.output {
  min-height: 80vh;
  width: 35vw;
  margin: 10px;
  padding: 15px;
}

.output {
  border: gray 1px solid;
}
